@using Microsoft.AspNet.Identity
<div class="login-partial">
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "logout-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="user-info">
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Administrar cuenta", @class = "user-link" })
            <button type="submit" class="btn btn-sm btn-outline-light logout-btn">Cerrar sesión</button>
        </div>
    }
}
else
{
    <div class="auth-links">
        @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
        @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link login-link" })
    </div>
}
</div>
